.forms-master {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 30%;
  color: white;
}

.forms-container {
  background-color: #0f1114;
  border-radius: 10px;
  padding: 10px;
}


.forms-container form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: 10px;
  background-color: #8c8b8b;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-container {
  margin-bottom: 10%;
}

.edit-exp-container h3,
.edit-edu-container h3 {
  display: flex;
  justify-content: center;
  background-color: #149eca;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 8%;
}

.edit-exp-container h3:hover,
.edit-edu-container h3:hover {
  background-color: #045b77;
}


.inactive {
  display: none;
}

.personal-h2 {
  background-color: #149eca;
}

.forms-container button {
  border: none;
  cursor: pointer;
}

.forms-container h2 {
  background-color: #149eca;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #045b77;
}

.form-header button {
  background-color: #045b77;
  color: white;
}

.open {
  border: none;
  font-size: 2.5rem;
}

.delete-btn-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.delete {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
}


.delete:hover {
  background-color: red;
  color: white;
}

.add-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.add-item {
  background-color: #149eca;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.submit {
  width: 50%;
  margin: auto;
  background-color: #149eca;
  cursor: pointer;
}

input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .forms-master {
    flex-direction: column;
    width: 80%;
  }
}